.wrapper{
    display: grid;
    grid-template-rows: 1fr 13fr 1fr;
    grid-template-columns: 2fr 5fr 3fr;
    grid-template-areas: 
        "header header header"
        "aside main main"
        "aside main main"
    
    
    
}

.layout{
    grid-area: header;
}
.toolbar{
    grid-area: aside;
}
.contenido{
    grid-area: main;
}